.form {
  margin-bottom: 10px;
}

.input {
  width: 300px;
  height: 25px;
  margin-right: 20px;
  padding: 0 5px;

  border-radius: 5px;
  border: 1px solid dimgrey;
}

.button {
  height: 25px;
  padding: 0 10px;

  font-weight: 700;

  border-radius: 5px;
  border: 1px solid dimgrey;
  background-color: white;
}